.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.all-products{
    padding: 100px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.shop-cart{
    padding: 30px 10px;
    background-color: #FF99004D;
}