.card-img img {
    width: 91px;
    height: 91px;
    border-radius: 6px;
}

.preview-card {
    display: flex;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    gap: 20px;
    margin-bottom: 15px;
    padding: 5px ;
}

.preview-details{
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.preview-details button{
    padding: 20px;
    border-radius: 50%;
    background: none;
    background-color:  rgba(235, 87, 87, 0.3);
    border: 0;
    cursor: pointer;
}

.preview-details button:hover{
    border: 1px solid purple;
}

.delete-btn{
    font-size: 1.4rem;
    color: #EB5757;
}