.product-card img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 8px;
}

.product-cart h4 {
    line-height: 25px;
    letter-spacing: 0.0015em;

    color: #0E161A;
}

.product-card {
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    border: 1px solid #95A0A7;
    height: 508px;
    width: 300px;
    position: relative;
}

.product-description {
    margin: 10px;
}

.product-card button {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    color: #0E161A;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.product-card button:hover{
    background-color: orange;
}